.add-title {
    color : #6d28d9 ;
    align-self : start ;
    text-decoration: underline ;
    padding-right : 20px ;
    font-size: .9rem;
}
.add-data {
    position: relative;
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 70%;
    margin-top: 25px;
}
.add-data input {
    width: 100%;
    padding: 10px 5px 10px 0;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    color: #6d28d9;
    font-family: "IranYekan_En";
    font-size: 14px ;
}
.add-data input:focus {
    box-shadow: 0 0 10px #6d28d9 ;
}
.add-data input::placeholder{
    color: #6d28d9 ;
    opacity: .7 ;
}
.add-data button {
    position: absolute;
    left: 0;
    margin-top: 1px;
    margin-left: 1px;
    height: 95%;
    padding: 0 12px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #6d28d9;
    background: #e8e3ff;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer ;
    transition: background .2s ;
}
.add-data button:hover {
    background: #d1c6ff;
}
.add-input {
    position : relative ;
    width: 100% ;
}
span.error {
    position: relative ;
    display: none ;
    align-self: flex-start;
    border: 1px solid #390b1b;
    color: #5d101d;
    background: #ffd5da;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    overflow: hidden ;
}
span.success {
    position: relative ;
    display: none ;
    align-self: flex-start;
    border: 1px solid #20a740;
    color: #277539;
    background: #daffe6;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    overflow: hidden ;
}
div.prog {
    position: absolute ;
    bottom: 0 ;
    right : 0 ;
    height: 4px ;
    opacity : .2 ;
    animation-name: width ;
    animation-duration: 2s ;
    animation-fill-mode: forwards ;
}
@keyframes width {
    from{
        width : 0% ;
    }
    to{
        width : 100% ;
    }
}